@layer tailwind-base, antd;

@layer tailwind-base {
  @tailwind base;
}
@tailwind components;
@tailwind utilities;

[type='text']:focus,
input:where(:not([type])):focus,
[type='email']:focus,
[type='url']:focus,
[type='password']:focus,
[type='number']:focus,
[type='date']:focus,
[type='datetime-local']:focus,
[type='month']:focus,
[type='search']:focus,
[type='tel']:focus,
[type='time']:focus,
[type='week']:focus,
[multiple]:focus,
textarea:focus,
select:focus,
.ant-select-focused .ant-select-selector {
  --tw-ring-color: transparent !important;
  --tw-ring-shadow: none !important;
  box-shadow: none !important;
  outline: none !important;
  /* border-color: #D1D5DB !important; 保持原有边框颜色 */
}

.ant-segmented .ant-segmented-item-selected {
    color: #27272A;
    font-size: 12px;
    font-weight: 700;
    border-radius: 8px;
}

.ant-segmented .ant-segmented-item {
    font-size: 12px;
    color: #27272A;
}

/* ant Input number */
.ant-input-number-affix-wrapper {
    height: 46px;
    border-radius: 12px;
    border-color: #E4E4E7;
    box-shadow: 0px 1px 2px 0px rgba(9, 9, 11, 0.05);
}

.ant-input-number-affix-wrapper .ant-input-number-handler-wrap {
  border-radius: 0px 12px 12px 0px;
}

.custom-checkbox .ant-checkbox-label {
  padding: 0;
  width: 100%;
}